<form>
  <div class="purchase container">
    <h1>PURCHASE</h1>
    <div class="mb-3">
      <label class="form-label">Email id</label>
      <input type="email" class="form-control" id="exampleInputEmail1" />
      <div id="emailHelp" class="form-text"></div>
    </div>

    <div class="mb-3">
      <label class="form-label">name</label>
      <input type="text" class="form-control" id="n" />
    </div>

    <div class="mb-3">
      <label class="form-label">address</label>
      <input type="text" class="form-control" id="a" />
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" id="P" />
    </div>

    <button type="submit" class="btn btn-primary" (click)="purchase()">
      buy
    </button>
  </div>
</form>
